.inventory-container {
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.3s;
}

.inventory-container:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.inventory-container img {
    height: 270px;
    height: 250px;
    margin: 0 auto;
    margin-top: 18px;
}

.inventory-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

@media (max-width:600px) {
    .inventory-container img {
        height: 200px;
        margin-top: 15px;
    }

    .inventory-container p {
        font-size: 14px;
    }

    .inventory-container {
        width: 300px;
    }

    .inventory-container h5 {
        font-size: 22px;
    }
}