.blog-contaner {
    height: 90vh;
}

.blog-contaner h4 {
    padding: 10px 0px;
    color: #747474;
}

.blog-contaner p {
    margin: 15px 0;
    background: #32b3ea;
    color: white;
    padding: 20px 50px;
    width: 50%;
}

@media (max-width: 600px) {
    .blog-contaner {
        height: auto;
        width: 95%;
        margin: 0 auto;
    }

    .blog-contaner h4 {
        padding: 5px 0px;
        width: 95%;
    }

    .blog-contaner p {
        margin: 10px 0;
        padding: 15px 10px;
        width: 90%;
    }
}